<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Provider Home</title>
</head>

<body>
    <h1>Welcome to the Identity Provider (IdP)</h1>
    <p>This is the home page of the Identity Provider used for testing OAuth2 flows.</p>
    <p>Please ensure that the test relying party is running to proceed with authentication tests.</p>
    <ul>
        <li>IDP Admin interface <a href="http://localhost:8000/admin/">http://localhost:8000/admin/</a></li>
        <li>Test Relying Party <a href="http://localhost:5173/">http://localhost:5173/</a></li>
    </ul>
</body>
</html>